/* poppins font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
  font-family: 'Interstate';
  src: url('../../public/fonts/interstate-webfont/interstate-black-comp-58b641cc0aca1.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@import "tailwindcss";

body {
  background: rgb(18, 18, 18);
  font-family: 'Poppins', sans-serif;
}
input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
}
input[name="progressbar"]:hover::-webkit-slider-thumb{
  /* box-shadow: inset 0 0 0 1px  red; */
  opacity: 0;

}
/* pimpochka for volume   */
input[name="volume"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  opacity: 1;
  width: 16px; /* Thumb width */
  height: 16px; /* Thumb height */
  background: black; /* Thumb color */
  cursor: pointer;
  border-radius: 10rem;
  z-index:200;
  box-shadow: inset 0 0 0 1px  white;
}

/* pimpochka for progressbar */
input[name="progressbar"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  opacity: 0;
  z-index: 10000;
  width: 10px; 
  height: 10px; 
  background: black; 
  cursor: pointer;
  border-radius: 10rem;
  box-shadow:
  inset 0 0 0 10px transparent 
  inset 0 0 0 1.5px  rgb(255,85,0);
}
/* input[type="range"]::-webkit-slider-runnable-track { */
  /* height: 6px; */
  /* background: linear-gradient(to right, #ff5500, #ff8800); */
  /* border-radius: 3px; */
/* } */
