

@media(min-width:768px) and (max-width: 1150px) {
    .container {
        width: 80vw;
    }
}
@media(min-width:1150px) and (max-width:1536px)  {
    .container {
        width: 80vw
    }
}

.hide-scrollbar {
    overflow: hidden;
}